body {
    font-family:sans-serif;
    background-color: #5C3507;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    background-color: #fff;
    border: 2px solid #8B4513;
    border-radius: 15px;
    height: 500px;
    width: 340px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-content {
    width: 100%;
    max-width: 400px;
    margin-top: 55px; 
    margin-bottom: 83px; 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.location-content {
    width: 100%;
    max-width: 400px;
    padding-left: 20px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h2 {
  color: #8FA0FF;
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  width: fit-content;
  margin: 3px;
}

.confirmacao-container {
    background-color: #fff;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.audit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    padding: 12px;
    margin: 15px 0;
    background-color: #8B4513;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.audit-button:hover:not(:disabled) {
    background-color: #734414;
}

.audit-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.button-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.timer {
    font-size: 28px;
    font-weight: bold;
    color: #5C3507;
    margin: 20px 0;
    text-align: center;
    font-family:sans-serif;
}
.duracao {
    font-size: 18px;
    font-weight: 600;
    color: #8B4513;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f1e9;
    border-radius: 8px;
    border: 1px solid #5C3507;
}