body {
    font-family:sans-serif;
    background-color: #5C3507;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar no topo */
.navbar-top {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #5c3507;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.navbar-top .logo-container {
    display: flex;
    align-items: center;
}
.navbar-top img.logo {
    width: 40px;
    margin-right: 10px;
}
.navbar-top .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.navbar-top .profile {
    width: 30px;
    height: 30px;
    border: 2px solid #8B4513;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-top .profile:hover {
    background-color: #c69500;
}

/* Container  */
.container {
    background-color: #fff;
    border: 2px solid #8B4513;
    border-radius: 15px;
    height: 550px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 88.48px;
    margin-bottom: 106px; /*83+23*/
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

/* Nav bar inferior */
.navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    height: 83px;
    border: 2px solid #5C3507;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #5c3507;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.nav-item {
    display: flex;
    stroke: #5C3507;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 46px;
    flex-shrink: 0;
    border: 2px solid #5C3507;
    background: #D3D3D3;
    border-radius: 50%;
    text-decoration: none;
    fill: #D9D9D9;
    stroke-width: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 24px;
}
.nav-item:active {
    background-color: #734414;
}

.nav-item.active {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #5C3507;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    fill: #FFF;
    stroke-width: 4px;
    stroke: #5C3507;
    margin: 0; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}
.nav-item.active:hover {
    background-color: #5C3507;
}
.nav-item.active:active {
    background-color: #734414; 
    transform: translateX(-50%) scale(0.95); 
}

.location-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.location-icon {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 130px;
    color: #5C3507;
}

h2 {
    text-align: center;
    color: #DAA520;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.location-box {
    background-color: white;
    border-radius: 12px;
    margin-top: 18px;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-size: 14px;
    color: black;
    border: 2px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.location-text {
    font-size: 12px;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.5;
}

.location-buttons {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.location-btn {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 8px;
    background-color: #d9a066;
    height: 40px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.location-btn:hover {
    background-color: #c69500;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
