body {
  font-family: 'Sofia Sans', sans-serif;
  background-color: #5C3507;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 100%;
  max-width: 400px;
  margin-top: 80px; /* espaço para navbar-top */
  margin-bottom: 83px; /* espaço para navbar inferior */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* conteúdo alinhado à esquerda */
}

.location-content {
  width: 100%;
  max-width: 400px;
  padding-left: 20px; /* espaço à esquerda */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h2 {
  color: #8FA0FF;
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  width: 100%;
  margin: 0;
  margin-left: 5px; 
}

.container {
  background-color: #fff;
  height: 600px;
  border: 2px solid #8B4513;
  border-radius: 15px;
  width: 340px;
  box-shadow: 0 4px 8px rgba(107, 102, 102, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.ajust-img {
  margin-right: 2px; /
}
.confirmacao-texto {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0;
  text-align: center;
  width: 100%;
}